@charset "utf-8";
body {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
}
p {
    text-align: justify;
    word-break: break-word;
}
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    word-break: break-word;
}
twitterwidget {
  margin-left: auto;
  margin-right: auto;
}
blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 3px solid $border-color;
}
img {
    max-width: 100%;
}
iframe {
    max-width: 100%;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
th,
td {
    padding: 0.5rem;
    line-height: inherit;
}
th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
}
td {
    vertical-align: top;
    border-bottom: 1px solid $border-color;
}
pre {
    padding: 1.25rem;
    overflow-x: auto;
}
code {
    font-family: 'Courier New',Consolas,monopace;
    tab-size: 4;
}
// hr {
//     border: none;
//     border-top: 2px solid $border-color;
// }
hr {
    border: none;
    text-align: right;
    line-height: 1px; /* vertical centering */
    height: 1px; /* gap between the lines */
    margin: 0px;
    margin-top: -1.7rem;
    margin-right: -.5rem;
    margin-bottom: 60px;
}

hr:after {
    content: "//";
    font-size: .9em;
letter-spacing: -3px;
    color: $border-color;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
