@charset "utf-8";

body {
  //clever scrollbar trick: http://stackoverflow.com/a/30293718
  padding-left: calc(100vw - 100%);
}

main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}
.site-header {
    .site-title {
        font-weight: 300;
        > a {
            color: $text-color;
            text-decoration: none;
        }
    }
    .site-nav {
        > a {
            color: $text-color;
            &:hover {
                text-decoration: none;
            }
            &.active {
                border-bottom: 2px solid #666;
            }
            + a {
                margin-left: 1rem;
            }
        }
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
            color: $meta-color;
            margin-right: 1.5rem;
            font-size: $small-font-size;
        }
        a {
            color: $text-color;
            text-decoration: none;
        }
    }
}
.post {
    position: relative;
    .post-header {
        text-align: center;
        margin-bottom: 0;
    }
    .post-meta {
        margin: 0;
        text-align: center;
        color: $meta-color;
        font-size: $small-font-size;
    }
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    // padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 48rem) {
    .site-header {
        .site-title,
        .site-nav {
            text-align: center;
        }
    }
}
